{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid p-3">
  <div class="card-deck">

    {% for teammate in teammates %}
    <div class="card text-center" style="width: 15rem;">
      <img class="card-img-top" src={{teammate.Img}} alt={{teammate.Name}}>
      <div class="card-body">
        <h5 class="card-title">{{teammate.Name}}</h5>
        <p class="card-text">{{teammate.Bio}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{teammate.Task1}}</li>
        <li class="list-group-item">{{teammate.Task2}}</li>
        <li class="list-group-item">{{teammate.Task3}}</li>
      </ul>
      <div class="card-body">
        {% if teammate.LinkedIn %}
        <a href={{teammate.LinkedIn}}><i class="fa fa-linkedin fa-2x"></i></a>
        {% elif teammate.Git%}
        <a href={{teammate.Git}}><i class="fa fa-github fa-2x"></i></a>
        {% else %}
        <a><i></i></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}383C42