<!DOCTYPE html>
<html>

<head>
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>ROBOSERVE</title>
  {% endif %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Add Logo Here</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('mainRoute') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('track') }}">Track Your Order In Realtime</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="page-background">
    <div class="cta container rounded text-center text-white">
      <blockquote class="blockquote">
        <h1 class="display-1 mb-0">ROBOSERVE</h1>
        <footer class="blockquote-footer text-white text-center">{{caption}}</footer>
      </blockquote>
    </div>
    </div>
  <div class="container-fluid">
  <div class="row-eq-height">
    <div class="col">
      <div class="container py-5">
        <div class="card flex-row">
          <img class="fluid-image rounded-left" src="static/Maharshi.jpeg" alt="Image">
          <div class="d-flex flex-column flex-grow-1">
            <div class="card-body w-100">
              <h1 class="card-title">Maharshi Patel</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Drink Dispension</li>
              <li class="list-group-item">Human Machine Interface</li>
              <li class="list-group-item">Administration</li>
            </ul>
            <div class="card-body w-100">
              <p class="card-text">
                Blurb.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="container py-5">
        <div class="card flex-row">
          <img class="fluid-image rounded-left" src="static/Maharshi.jpeg" alt="Image">
          <div class="d-flex flex-column flex-grow-1">
            <div class="card-body w-100">
              <h1 class="card-title">Joe Perri</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Navigation</li>
              <li class="list-group-item">Human Machine Interface</li>
              <li class="list-group-item">Code Management</li>
            </ul>
            <div class="card-body w-100">
              <p class="card-text">
                Blurb.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="container py-5">
        <div class="card flex-row">
          <img class="fluid-image rounded-left" src="/static/Malcolm.jpeg" alt="Image">
          <div class="d-flex flex-column flex-grow-1">
            <div class="card-body w-100">
              <h1 class="card-title">Malcolm MacEachern</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Structural Design</li>
              <li class="list-group-item">Dispension System</li>
            </ul>
            <div class="card-body w-100">
              <p class="card-text">
                Blurb.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="container py-5">
        <div class="card flex-row">
          <img class="fluid-image rounded-left" src="static/Paul.jpeg" alt="Image">
          <div class="d-flex flex-column flex-grow-1">
            <div class="card-body w-100">
              <h1 class="card-title">Paul Nguyen</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Motor Drive Algorithm</li>
              <li class="list-group-item">Power Systems</li>
            </ul>
            <div class="card-body w-100">
              <p class="card-text">
                Blurb.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
    </body>

    </html>
