.page-background {
        background-color: white;	
        background-size: cover;
        height: 100vh;
    }
    .cta {
        position: relative;
        top: 35%;
        transform: translateY(-35%);
        background: rgba(0, 0, 0, 0.5);
        padding: 5rem;
    }
