{% extends "layout.html" %}
{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Station</th>
      <th scope="col">Drink</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{order.firstname}}</td>
        <td>{{order.lastname}}</td>
        <td>{{order.station}}</td>
        <td>{{order.drink}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
